$background-color-white : white;
$background-color-grey : #F6F6F6;
$background-color-red  : #FF6060;
$background-color-black : black;
$text-color-white: white;
$text-color-black : black;
$text-color-red  : #FF6060;
$border : black;

@mixin box-shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
}


* {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    text-decoration: none;
      #root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
  }