@import "../../General.scss";

.logement {
    max-width: 1240px;
    margin: auto    ;

    .logement-info-1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        
        .logement-title {
            h3{
                color: $text-color-red
            }
            p{
                color: $text-color-black;
            }
        }

        .logement-host {
            display: flex;
            align-items: center;
            gap: 10px;
            p{
                width: 40px;
                color: $text-color-red;
            }
            img {
                width: 64px;
                height: 64px;
                border-radius: 75px;
            }
        }
    }
    .logement-info-2{
        display: flex;
        justify-content: space-between;
        .tag{
            ul{
                display: flex;
                flex-direction: row;
                gap: 30px;
                
            }
            li{
                width: auto;
                padding: 10px;
                text-align: center;
                border-radius: 10px;
                background-color: $background-color-red;
                color: $text-color-white;
            }
        }
    }

    .collapse-logement {
        display: flex;
        gap: 76px;

        .equipements {
            width: 50%;
        }
        .description {
            width: 50%;
        }
    }
}

