@import "../../General.scss";
.erreur {
    text-align: center;
  
    h1 {
      font-size: 288px;
      font-weight: 700;
      line-height: 411px;
      color: $background-color-red;
      padding: 70px;
    }
  
    p {
      font-size: 36px ;
      font-weight: 500;
      line-height: 51.34px;
      color: $background-color-red;
      padding-bottom: 30px;
    }
  
    a {
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67;
      color: $text-color-black;
      border-bottom: 1px solid $border;
    }
  }