@import "../../General.scss";

.collapse {
  width: 100%;
    &.open {
      .collapse-text {
        max-height: 1000px;
        ul {
          margin: 10px;
        }


      }
    }

  .collapse-title {
    position: relative; 
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
    background-color: $background-color-red;

      h3 {
        font-size: 24px;
        font-weight: 700;
        color: $text-color-white;
      }

      .chevron {
        font-size: 24px;
        color: white;
        transition: transform 0.2s ease;
        cursor: pointer;

          &.open {
            transform: rotate(-180deg);
          }
      }

  }

  .collapse-text {
    position: relative;
    z-index: 9;
    max-height: 0;
    margin: -8px 0 0 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    background-color: $background-color-grey;
    border-radius: 0 0 10px 10px;
      &.open {
        transition: max-height 5s ease;
        max-height: 1000px;
      }

    .collapse-content { 
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

  }
}

@media screen and (max-width: 768px) {

  .collapse {
    
    .collapse-title {
      h3{
        font-size: 14px;
      }
      .chevron{
        font-size: 14px;
      }
    }
  }
}