@import "../../General.scss";

.footer {
    width: 100%;
    height: 209px;
    margin: 50px auto ;
    
    background-color: $background-color-black;
    color: $text-color-white;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    .logo-footer {
      padding-top: 66px;
      margin-bottom: 28.6px;
    }

    p {
      font-size: 24px;
      font-weight: 500;
      line-height: 34.2px;
    }
  
  }
  